<div class="card" id={{author.author_id}}>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="{{ site.baseurl }}/assets/images/{{ author.image }}" alt="{{ author.title }}">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{author.name}}</p>
                <p class="subtitle is-6"> {{ author.position }}</p>
            </div>
        </div>
        <div class="content">
            {% if author.content %}
                {{ author.content | markdownify }}
            {% endif %}
            {% if author.patreon %}
                <a href="https://www.patreon.com/join/{{author.patreon}}"><img src="{{ site.baseurl }}/assets/images/button_patreon_logo_new.png"></a>
                <br>
            {% endif %}
            {% if author.buy_me_coffee %}
                <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="{{author.buy_me_coffee}}" data-color="#FFDD00" data-emoji="📖"  data-font="Cookie" data-text="Buy me a book" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
            {% endif %}
        </div>
        <div class="content">
            <h4>Recents Posts</h4>
            <ul>
              {% assign filtered_posts = site.posts | where: 'author_id', author.author_id %}
              {% assign max_posts = filtered_posts | size %}
              {% assign max_index = max_posts | minus: 1 %}
              {% if max_posts > site.max_posts_per_author %}
                {% assign max_index = site.max_posts_per_author | minus: 1 %}
              {% endif %}
              {% for i in (0..max_index) %}
                {% assign post = filtered_posts[i] %}
                <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
        </div>
        {% if author.sponsors %}
            <div class="content">
                    <h4>Sponsors</h4>
                    <div class="tags">
                        {% for sponsor in author.sponsors %}
                            <p class='tag'>{{ sponsor }}</p>
                        {% endfor %}
                    </div>
            </div>
        {% endif %}
    </div>
</div>  
