<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="{{ site.baseurl }}/assets/images/{{ author.image }}" alt="{{ author.title }}">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{author.name}}</p>
                <p class="subtitle is-6"> {{ author.position }}</p>
            </div>
        </div>
        <div class="content">
            {% if author.content %}
                {{ author.content | markdownify }}
            {% endif %}
        </div>
    </div>
</div>  