<div class="card" id={{author.short_name}}>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="{{ site.baseurl }}/assets/images/{{ author.image }}" alt="{{ author.title }}">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{author.name}}</p>
                <p class="subtitle is-6"> {{ author.position }}</p>
            </div>
        </div>
        <div class="content">
            {% if author.content %}
                {{ author.content | markdownify }}
            {% endif %}
        </div>
        <div>
            <h4>Recents Posts</h4>
            <ul>
              {% assign filtered_posts = site.posts | where: 'author', author.short_name %}
              {% assign max_posts = filtered_posts | size %}
              {% assign max_index = max_posts | minus: 1 %}
              {% if max_posts > site.max_posts_per_author %}
                {% assign max_index = site.max_posts_per_author | minus: 1 %}
              {% endif %}
              {% for i in (0..max_index) %}
                {% assign post = filtered_posts[i] %}
                <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
        </div>
    </div>
</div>  