---
---
$primary: #FAFAFA;
$info: hsl(14, 100%, 53%);
$title-size: 1.5rem;
$title-weight: 1000;
$title-line-height: 1.5;
$danger: #750319;
// $hero-darken: #F6CD2F;
// Import Main CSS file from theme
@import "main";