---
layout: default
---

<div class="content">

    <p>Published: {{ page.date | date: "%b %-d, %Y" }} by 
        <a class="modern_link" href="{{ site.baseurl }}/contributors.html#{{ page.author }}">{{ page.author }}
        </a>
    </p>
    
    {{ content }}
</div>

<div class="column is-12 is-clipped"> 
<div class="tags">
    {% for tag in page.tags %}
      {% include tag.html tag=tag %}
    {% endfor %}
</div>
</div>

{% for author in site.authors %}
    {% if author.name == page.author %}
        <div class="column is-12 is-clipped"> 
        {% include author-card.html %} 
        </div>
        {% if author.buy_me_coffee %}
            <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="{{author.buy_me_coffee}}" data-description="Support the author on Buy me a coffee!" data-message="If you like what you read, please consider supporting the author!" data-color="#FF5F5F" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
        {% endif %}
    {% endif %}
{% endfor %}

<div class="column is-12 is-clipped"> 
{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}
</div>

{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}